html, body {
    margin: 0;
    padding: 0;
    font-family: 'Shippori Antique', sans-serif;
}

.frame{
    border: 2px solid lightgray;
    width: 1060px;
    height: 799px;
    margin: 0 auto;
     overflow: scroll;
    overflow-x:hidden;
    background-color: whitesmoke;
    border-top:0;
   
}
.framed{
    border: 2px solid lightgray;
    width: 1060px;
    height: 799px;
    margin: 0 auto;
     overflow: scroll;
    overflow-x:hidden;
    background-color: whitesmoke;
   border-top:0;
}

#addWatch{
    cursor: pointer;
}
i{
    font-family: Arial, Helvetica, sans-serif;
}

#star{
    font-size: 12px;
    margin: 0 0 0 -110px;
}

#watchlist{
    text-decoration: none;
    color: black;
    margin-top:16px;
    
}
#movies{
    overflow: hidden;
    
}

.topbox{
    border: 2px solid lightgray;
    border-bottom: 0;
    border-top: 0;
    margin:0px auto 0 auto;
    width:1060px; 
    height: 150px;
    padding-top:50px;
    background-image: url("Header.jpg");
    background-size: 138%;
    background-position: center;
    color: white;
    text-shadow: 0px 0px 10px black;
}

#loadingimg{
 
    padding: 300px 500px;
    opacity: 50%;
}

#clearWatch{
    margin: 20px 450px;
    padding: 10px;
    width:160px;
    border-radius: 20px;
    border: 2px solid lightgray;
}
#clearWatch:hover{
    background-color: lightgrey;
    cursor: pointer;
}

#headerTxt:hover{
   color: lightgrey}
   
   #headerTxt{
       color:white;font-size:18px;margin-top:29px;
   }
   
   #addWatch:hover{
       color: grey;
       cursor: pointer;
   }

   #search{
    height:44px;
    border: 2px solid lightgray;
    border-left: 0;
            border-radius: 0px 10px 10px 0px;
             width:120px; 
             margin: auto 0;

   }

   #search:hover{
    cursor: pointer;
   }
